*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    padding: 1% 5%;
    background-color: black;
}
header h1{
    color: white;
}
nav{
    display: flex;
    gap: 20px;
    background-color: tomato;
    padding: 1% 5%;
}
nav a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
main{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin:  1% auto;
}
main article{
    width: 70%;
    padding: 2% 1%;
    border: 1px solid;
}

main aside{
    width: 29%;
    border: 1px solid;
}
footer{
    padding: 1% 5%;
    background-color: black;

}
footer h1{
    color: white;
    text-align: center;
    text-transform: capitalize;
}